<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/Windows_Terminal_Logo.png">
    <link rel="icon" href="data:,">

    <title>Terminal Simulador</title>
</head>
<body>
    <div class="terminal-window">
        <header>
            <div class="button green"></div>
            <div class="button yellow"></div>
            <div class="button red"></div>
        </header>
        <section class="terminal">
            <div class="history"></div>
            <div class="input-line">
                <span class="prompt"></span><input type="text" class="cmd-input" id="terminal-input" name="terminal-input" autofocus>
            </div>
            
        </section>
        
        
        
    </div>  
    <script src="../static/js/terminal_js.js" defer></script>  <!--fazer a mudança ao interligar com java-->
</body>
</html>
